
body {
    background-color: #f39494;
    font-family: "Roboto", sans-serif;
    margin: 220px 430px;
    max-width: 1440px;
}

main {
    background-color: #fffefe;
    border-radius: 10px;
    width: 582px;
    height: 573px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fffefe;
    margin: auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #333;
    padding: 80px 100px 0 100px;
    margin: 0;
}

p {
    margin: 10px 0 47px 0;
}

input {
    outline: none;
}

input:hover {
    background-color: #f0eded;
    transition: background-color 0.3s linear;
}

button {
    background-color: #089fe0;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border-style: hidden;
    width: 394px;
    height: 44px;
    padding: 0;
}

button:hover {
    background-color: #078bc4;
    transition: background-color 0.3s linear;
}

button:active {
    background-color: #1580ad;
}

label {
    font-size: 14px;
    color: #666;
    padding: 10px 10px;
}

label a {
    color: #089fe0;
    padding: 10px 10px;
    text-decoration: none;
}

.section {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    color: #666;
    text-align: center;
}

.title a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #089fe0;
    padding: 0 0 0 15px;
}

.company {
    background-color: #FFF;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    width: 383px;
    height: 26px;
    border-radius: 5px;
    border-color: #f5f5f5;
    border-style: solid;
    padding: 9px 0 9px 11px;
}

.company::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.name {
    display: flex;
    align-items: center;
}

.input-wrapper {
    position: relative;
}

.input-wrapper:first-child::after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    width: 44px;
    height: 0;
    transform: translateY(-50%) rotate(90deg);
    right: -23px;
    top: 50%;
}

.firstname {
    width: 186px;
    height: 26px;
    background: #f5f5f5;
    padding: 9px 0 9px 11px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-style: none;
}

.surname {
    width: 186px;
    height: 26px;
    background: #f5f5f5;
    padding: 9px 0 9px 11px;
    border-radius: 5px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-style: none;
}

.email {
    border-radius: 5px;
    width: 383px;
    height: 26px;
    background: #f5f5f5;
    border-style: none;
    padding: 9px 0 9px 11px;
}

.surname::placeholder,
.firstname::placeholder,
.email::placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #999;
}

.button {
    position: relative;
}

.button img {
    position: absolute;
    stroke-width: 3px;
    stroke: #fff;
    top: 11px;
    right: 24px  
}

.agreement input {
    display: none;
}

.agreement input:checked+span {
    background-color: #089fe0;
}

.agreement span {
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #f5f5f5;
    width: 15px;
    height: 16px;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    top: 4px;
    right: 4px;
}

.agreement span:hover {
    border-color: #969292;
    transition: background-color 0.3s linear;
}   

.agreement a:hover,
.title a:hover  {
    color: #1580ad;
    transition: background-color 0.3s linear;
}